*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(255, 255, 0,5), rgb(0, 128, 0,5));
    height: 100vh;
    font-family: sans-serif;
    padding: 36px 0 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.login {
    text-align: right;
}

.login a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}